name: Matrix Generator

on:
  workflow_call:
    outputs:
      php-matrix:
        description: 'Generated PHP matrix'
        value: ${{ jobs.php-matrix.outputs.matrix }}
      node-matrix:
        description: 'Generated PHP-Node matrix'
        value: ${{ jobs.node-matrix.outputs.matrix }}
      full-matrix:
        description: 'Generated full matrix'
        value: ${{ jobs.full-matrix.outputs.matrix }}

jobs:
  php-matrix:
    name: Generate Base PHP Matrix
    runs-on: ubuntu-latest
    container:
      image: php:8.4-cli-alpine
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
    env:
      RUN_ON_OS: ${{ vars.RUN_ON_OS }}
      PHP_LATEST: ${{ vars.PHP_LATEST }}
      PHP_VERSIONS: ${{ vars.PHP_VERSIONS }}
      NODE_LATEST: ${{ vars.NODE_LATEST }}
      NODE_VERSIONS: ${{ vars.NODE_VERSIONS }}
      NOT_STABLE_XDEBUG_PHP_VERSIONS: ${{ vars.NOT_STABLE_XDEBUG_PHP_VERSIONS }}
    steps:
      - uses: actions/checkout@v6
      - id: matrix
        run: |
          php .github/workflows/php-matrix/php-generator.php >> $GITHUB_OUTPUT
      - run: echo "Matrix:\n";echo '${{ steps.matrix.outputs.matrix }}'

  node-matrix:
    name: Generate Base PHP-Node Matrix
    runs-on: ubuntu-latest
    container:
      image: php:8.4-cli-alpine
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
    env:
      RUN_ON_OS: ${{ vars.RUN_ON_OS }}
      PHP_LATEST: ${{ vars.PHP_LATEST }}
      PHP_VERSIONS: ${{ vars.PHP_VERSIONS }}
      NODE_LATEST: ${{ vars.NODE_LATEST }}
      NODE_VERSIONS: ${{ vars.NODE_VERSIONS }}
      NOT_STABLE_XDEBUG_PHP_VERSIONS: ${{ vars.NOT_STABLE_XDEBUG_PHP_VERSIONS }}
    steps:
      - uses: actions/checkout@v6
      - id: matrix
        run: |
          php .github/workflows/php-matrix/node-generator.php >> $GITHUB_OUTPUT
      - run: echo "Matrix:\n";echo '${{ steps.matrix.outputs.matrix }}'

  full-matrix:
    name: Generate Full Matrix
    runs-on: ubuntu-latest
    container:
      image: php:8.4-cli-alpine
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
    env:
      RUN_ON_OS: ${{ vars.RUN_ON_OS }}
      PHP_LATEST: ${{ vars.PHP_LATEST }}
      PHP_VERSIONS: ${{ vars.PHP_VERSIONS }}
      NODE_LATEST: ${{ vars.NODE_LATEST }}
      NODE_VERSIONS: ${{ vars.NODE_VERSIONS }}
      NOT_STABLE_XDEBUG_PHP_VERSIONS: ${{ vars.NOT_STABLE_XDEBUG_PHP_VERSIONS }}
    steps:
      - uses: actions/checkout@v6
      - id: matrix
        run: |
          php .github/workflows/php-matrix/full-generator.php >> $GITHUB_OUTPUT
      - run: echo "Matrix:\n";echo '${{ steps.matrix.outputs.matrix }}'
